.auto-complete-wrapper {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}

.tag {
    background-color: #5cb85c;
    margin-right: 2px;
    color: white;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.remove {
    margin-left: 3px;
    cursor: pointer;
}

.tag-input {
    border: none;
    width: auto !important;
    height: 25px;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0 0 0 3px;
}

.suggestions {
    position: absolute;
    display: inline-block;
    width: 300px;
    max-height: 150px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 4px 6px 6px;
    overflow: auto;
}

.suggestions li {
    list-style: none;
    cursor: pointer;
}

.selected {
    color: white;
    background-color: #777;
}

.hide{
    display: none;
}
